<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
 	<%-name %>
</body>
<script>
	//global;
	g_relsearch = [];
	g_ab = null;
</script>
<script src="//c.diaox2.com/cms/diaodiao/assets/ddios330.js"></script>
<script src="//c.diaox2.com/cms/diaodiao/assets/show203.js"></script>
<script src="//c.diaox2.com/cms/diaodiao/assets/wx.js"></script>
</html>
