<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="description" content="「有调」每天讲述精致的生活方式，推荐那些真正高品质的好东西，帮你低价买到优质海淘商品。下载有调，享受生活。">
<title>（未完）这个贵死人不偿命的牌子，防晒霜好用到哭</title>
<link rel="icon" href="//a.diaox2.com/cms/diaodiao/assets/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" media="only screen and (min-device-width: 1280px)" type="text/css" href="//c.diaox2.com/cms/diaodiao/assets/pc330.css" />
<link rel="stylesheet" media="only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-device-width: 1280px), only screen and (-webkit-min-device-pixel-ratio: 3) and (max-width:1028px)" type="text/css" href="//c.diaox2.com/cms/diaodiao/assets/phone330.css" />
<script src="//apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//c.diaox2.com/cms/diaodiao/assets/jquery.lazy.min.js"></script>
<script src="//c.diaox2.com/cms/diaodiao/assets/jquery.cycle2.min.js"></script>
<script src="//c.diaox2.com/cms/diaodiao/assets/jquery.cycle2.swipe.min.js"></script>
<script src="//c.diaox2.com/cms/diaodiao/assets/jquery.cookie.min.js"></script>
<script src="//c.diaox2.com/cms/diaodiao/assets/jquery.json-2.4.min.js"></script>
<script src="//c.diaox2.com/cms/diaodiao/assets/api204.js"></script>
</head>
<body id="41528038794693" class="9669_9669" data-type="goodthing" data-share="0" data-render="v2.0.1">
	<div class="total" data-thumb="http://content.image.alimmdn.com/cms/sites/default/files/20170418/goodthing/640370ffff_0.jpg" data-cover="http://content.image.alimmdn.com/cms/sites/default/files/20170418/goodthing/640370ffff.jpg" data-self="http://c.diaox2.com/view/app/?m=show&id=9669">
		<div class="goodsheading">
			<div class="cycle-slideshow" data-cycle-swipe=true data-fx=scrollHorz data-cycle-swipe-fx=scrollHorz data-manual-fx=scrollHorz data-cycle-speed="400" data-cycle-manual-speed="200" data-cycle-timeout="2000" data-cycle-auto-height="64:37">
				<img alt="" class="" src="//content.image.alimmdn.com/cms/sites/default/files/20170418/goodthing/640370ffff_1.jpg@768w_1l" data-big="http://content.image.alimmdn.com/cms/sites/default/files/20170418/goodthing/640370ffff_1.jpg" width=320 />
			</div>
			<h1>（未完）这个贵死人不偿命的牌子，防晒霜好用到哭</h1>
			<table>
				<tbody>
					<tr>
						<td class="headprice">
							<span class="headtime">2014-10-5</span>
						</td>
						<td class="headauthor">
							<a href="///c.diaox2.comview/app/?m=author&src=diaodiao"><img src="//c.diaox2.com/cms/diaodiao/people/robot.jpg" />有调机器人</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="content bottomshadow">
			<%-name %>
			<div class="interact"></div>
		</div>
		<div class="summary">
			<div class="bottomshadow">
				<div class="headgrayband"></div>
				<div class="sephead">
					<div class="sepinner">
						<img src="//c.diaox2.com/cms/diaodiao/assets/srcfrom.png" /><span>本文作者</span>
					</div>
				</div>
				<hr class="authorhr">
				<div id="author_info" data-author="diaodiao" data-href="//c.diaox2.com/view/app/?m=author&src=diaodiao">
					<div id="author1">
						<img id="authorportrait" src="//c.diaox2.com/cms/diaodiao/people/robot.jpg" />
						<p id="authortitle">有调机器人</p>
						<p id="authordesc">calculating...</p>
					</div>
					<hr class="authorhr">
					<div id="author2">
						<p>简介： dx2 robot，后台系统神秘程序，善于从未知时空产生文章。虚空挖掘力+MAX
						</p>
					</div>
				</div>
			</div>
			<div id="hotanchor"></div>
			<div id="commentanchor"></div>
			<div class="clearfix last"></div>
		</div>
		<div class="botmenu" style="display:none">
			<table>
				<tbody>
					<tr>
						<td style="width:20%" id="bot_zan"><img src="//c.diaox2.com/cms/diaodiao/assets/120noup.png" />
							<p data-org="赞">赞</p>
						</td>
						<td style="width:20%" id="bot_fav"><img src="//c.diaox2.com/cms/diaodiao/assets/120nofav.png" />
							<p data-org="收藏">收藏</p>
						</td>
						<td style="width:20%" id="bot_com" data-href="//c.diaox2.com/view/app/?m=cmt&id=9669"><img src="//c.diaox2.com/cms/diaodiao/assets/seecomment.png">
							<p data-org="评论">评论</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
<script>
	//global;
	g_relsearch = [];
	g_ab = null;
</script>
<script src="//c.diaox2.com/cms/diaodiao/assets/ddios330.js"></script>
<script src="//c.diaox2.com/cms/diaodiao/assets/show203.js"></script>
<script src="//c.diaox2.com/cms/diaodiao/assets/wx.js"></script>
</html>
