<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="description" content="「有调」每天讲述精致的生活方式，推荐那些真正高品质的好东西，帮你低价买到优质海淘商品。下载有调，享受生活。">
<meta name="renderer" content="webkit">
<link rel="dns-prefetch" href="//a.diaox2.com">
<link rel="dns-prefetch" href="//c.diaox2.com">
<link rel="icon" href="//a.diaox2.com/cms/diaodiao/assets/favicon.ico" type="image/x-icon">
<title>评测报告</title>
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="/cms/diaodiao/assets/pcollection.css">
<script src="//apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
  <section class="wrapper" id="wrapper">
    <header class="banner">
      <a href="javascript:void(0);">
        <figure>
          <img src="//content.image.alimmdn.com/cms/sites/default/files/20160823/pcollection/review_all.jpg">
          <figcaption>评测报告</figcaption>
        </figure>
      </a>
    </header>
    <section class="main">
      <h2 class="catagory">目录</h2>
      <ul class="items">
        <li class="item" data-href="/view/app/?m=show&id=7352">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20160830/firstpage/7352new.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">买买买</span> <span class="flag-desc">#评测必败清单</span></p>
                  <p>评测最最最推荐的商品，<br>都在这里</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
      </ul>
      <h2 class="catagory">最新报告</h2>
      <ul class="items">
        <li class="item" data-href="/view/app/?m=show&id=9829">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20170519/firstpage/521shouyenew.jpg@640w%7c0-92-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">有调评测</span> <span class="flag-desc">#遮阳伞</span></p>
                  <p>104把遮阳伞科学实测，<br>究竟哪些才是真防晒</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=9833">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20170517/firstpage/fengmian.jpg@640w%7c0-92-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">有调评测</span> <span class="flag-desc">#防晒霜</span></p>
                  <p>仪器+真人实测230款防晒霜，<br>这是你们要的结果</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
      </ul>
      <h2 class="catagory">你离女神只差这一步</h2>
      <ul class="items">
        <li class="item" data-href="/view/app/?m=show&id=6904">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20160720/firstpage/6904new.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#可撕指甲油</span></p>
                  <p>不一样的指甲油大评测，<br>解决手残党的世纪难题</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=6782">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20160712/firstpage/6782new1.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">有调评测</span> <span class="flag-desc">#脱毛产品</span></p>
                  <p>我们用两条人腿<br>评测了15款脱毛产品</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=6149">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20160510/firstpage/6149new.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#身体乳</span></p>
                  <p>我们抹了12斤身体乳，<br>想要拯救你的干皮油皮疙瘩皮 </p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=7999">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20161026/firstpage/1027shoyenew.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#磨砂膏</span></p>
                  <p>秋冬洗澡用了它，<br>总是忍不住想摸自己</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=2998">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20150822/firstpage/combinghaircover.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">有调评测</span> <span class="flag-desc">#梳子</span></p>
                  <p>拯救三千烦恼丝：<br>12款人气梳子评测结果</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=8497">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20161212/firstpage/640504.jpg@640w%7c0-92-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">有调评测</span> <span class="flag-desc">#电吹风</span></p>
                  <p>1000元以下最该买的电吹风，<br>调²研室帮你选好了</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=9270">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20170308/firstpage/WechatIMG30.jpeg@640w%7c0-92-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">有调评测</span> <span class="flag-desc">#卫生巾</span></p>
                  <p>真·史上最全卫生巾评测，<br>51款中好用的只有4款</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=6676">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20160705/firstpage/6676new.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#无肩带内衣</span></p>
                  <p>这千姿百态的酥胸，<br>教你如何把内衣穿的不露痕迹</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=6487">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20160610/firstpage/6487new.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#无痕内衣</span></p>
                  <p>用这些要溢出屏幕的胸，<br>告诉你在夏天如何“不穿内衣”</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=6345">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20160823/firstpage/6345new2.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#女士无痕内裤</span></p>
                  <p>姑娘我看你臀上丝滑无物，<br>好像没穿内裤？</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=7375">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20160903/firstpage/7375new.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#女士纯棉内裤</span></p>
                  <p>警察蜀黍，<br>他们又双叒叕评测女士内裤了</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=7877">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20170306/firstpage/37shouyenew1.jpg@640w%7c0-92-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#丝袜</span></p>
                  <p>黑丝季节，<br>怎样拥有最美的长腿</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=9829">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20170519/firstpage/521shouyenew.jpg@640w%7c0-92-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">有调评测</span> <span class="flag-desc">#遮阳伞</span></p>
                  <p>104把遮阳伞科学实测，<br>究竟哪些才是真防晒</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=9833">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20170517/firstpage/fengmian.jpg@640w%7c0-92-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">有调评测</span> <span class="flag-desc">#防晒霜</span></p>
                  <p>仪器+真人实测230款防晒霜，<br>这是你们要的结果</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
      </ul>
      <h2 class="catagory">成为男神从这里开始</h2>
      <ul class="items">
        <li class="item" data-href="/view/app/?m=show&id=8104">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20161108/firstpage/119shouyenew.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#男士护肤品</span></p>
                  <p>有调评测告诉你，<br>100元内最好用的男士护肤品</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=9365">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20170317/firstpage/318shouyenew.jpg@640w%7c0-92-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#男士洗面奶</span></p>
                  <p>60天洗了1000多次脸，<br>下次洗面奶就照这个买！</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=6540">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20160616/firstpage/6540Baanew.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">有调评测</span> <span class="flag-desc">#剃须刀</span></p>
                  <p>胡须三千，不敌我剃须有道：<br>8大主流剃须刀大盘点</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=7068">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20160805/firstpage/7068new.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#男士内裤2.0</span></p>
                  <p>男士内裤评测报告2.0，<br>小兄弟、大讲究</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=6569">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20160621/firstpage/6569Bnew.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#男士内裤1.0</span></p>
                  <p>兄弟！<br>你要的男士内裤评测报告</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=7242">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20160818/firstpage/7242new.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">达人测</span> <span class="flag-desc">#男士纯棉内裤</span></p>
                  <p>看不见的地方才是真讲究，<br>克勒kk特约内裤评测</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
      </ul>
      <h2 class="catagory">好好学习，认真生活</h2>
      <ul class="items">
        <li class="item" data-href="/view/app/?m=show&id=6425">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20160603/firstpage/6425new.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">有调评测</span> <span class="flag-desc">#Kindle</span></p>
                  <p>九年Kindle，终见绿洲，<br>八代Kindle横向对比大评测</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=6963">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20160728/firstpage/6963new.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#笔记本</span></p>
                  <p>你笔下的字值得用它们承载：<br>10款全档次笔记本大评测</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=9152">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20170219/firstpage/220shouyenew.jpg@640w%7c0-92-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">有调评测</span> <span class="flag-desc">#中性笔</span></p>
                  <p>100款中性笔全面评测：<br>3元国货完爆44支日本大牌</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=7119">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20170213/firstpage/7144newnew.jpg@640w%7c0-92-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#情趣避孕套</span></p>
                  <p>实战评测200枚套套，<br>决定和杜蕾斯手动再见</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=5120">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20160213/firstpage/5120Bnew.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#超薄避孕套</span></p>
                  <p>7天用了60个套套，<br>精尽人亡也要告诉你哪个最好</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=6337">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20160525/firstpage/6337Bnew.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#漱口水</span></p>
                  <p>喝到烂嘴！味蕾失灵！<br>才知道这些漱口水真正值得买</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=6834">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20160718/firstpage/6834new.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#口气清新喷雾</span></p>
                  <p>把清新自信装进小瓶，<br>需要5个人喷200次</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=6624">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20170119/firstpage/120shouyenew.jpg@640w%7c0-92-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#解酒小物</span></p>
                  <p>没有到不了的明天：<br>8款解酒产品横向对比大评测</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=5855">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20160408/firstpage/5855Bnew.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#抽纸</span></p>
                  <p>我们用了8000张抽纸，<br>只为了让你买到称心的那一盒</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=6129">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20160507/firstpage/6129Bnew.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#卷纸</span></p>
                  <p>爱卿莫慌，我们爱臀有方：<br>6大品牌卷纸大评测！</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=7512">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20160922/firstpage/7512new.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#耳塞</span></p>
                  <p>终于找到它，<br>为你解决睡眠大问题</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=3887">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20151116/firstpage/3887new1.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#毛巾</span></p>
                  <p>有调评测团第一期报告：<br>九品牌全档次毛巾大比拼</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=7245">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20160823/firstpage/7245new.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#浴巾</span></p>
                  <p>诚实的身体告诉你浴巾怎么选，<br>听说宜家想逆袭？</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=7715">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20161109/firstpage/pingcenewnewnew.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#枕头</span></p>
                  <p>我们睡了￥43901的枕头，<br>最后给你推荐这些</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=7185">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20160826/firstpage/7185new1.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">有调评测</span> <span class="flag-desc">#行李箱</span></p>
                  <p>我们又摔又砸，<br>为你选出了1k内最好的登机箱</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=7985">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20170407/firstpage/48shouyenew2.jpg@640w%7c0-92-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#运动毛巾</span></p>
                  <p>狂甩20斤汗实测5款运动毛巾，<br>耐克被谁秒成渣渣？</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=6203">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20160513/firstpage/6203Bnew.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#船袜</span></p>
                  <p>我们招募了12只脚，<br>发现这些船袜才是你的心头好</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
      </ul>
      <h2 class="catagory">那些和吃喝有关的故事</h2>
      <ul class="items">
        <li class="item" data-href="/view/app/?m=show&id=8740">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20170103/firstpage/14banfangjiangnew.jpg@640w%7c0-92-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#下饭酱</span></p>
                  <p>除了老干妈还有什么选择？<br>17款下饭酱满足你的味蕾</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=4192">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20151209/firstpage/4192new.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#泡面</span></p>
                  <p>十款不同国家人气泡面，<br>哪个才是最爱？</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=5397">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20160304/firstpage/5397new.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#麦片</span></p>
                  <p>你的麦片你的嘴，<br>健康美味嘎嘣脆！</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=6367">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20170520/firstpage/zongzinew.jpg@640w%7c0-92-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">有调评测</span> <span class="flag-desc">#粽子</span></p>
                  <p>这些来自南北的甜咸粽子，<br>哪些千万不能买？</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
      </ul>
      <h2 class="catagory">秋冬怎能少了它们</h2>
      <ul class="items">
        <li class="item" data-href="/view/app/?m=show&id=5678">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20160323/firstpage/5678new.jpg@640w%7c0-296-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#袜子</span></p>
                  <p>35双袜子和5种脚，<br>评测出来的袜子你要不要？</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=8612">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20161223/firstpage/NNCOVER.jpg@640w%7c0-92-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#打底裤</span></p>
                  <p>寒冬腊月的美腿造型，<br>都被它承包了！</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=8431">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20161202/firstpage/123shouyenew_0.jpg@640w%7c0-92-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">评测团</span> <span class="flag-desc">#功能性秋裤</span></p>
                  <p>优衣库居然不行？<br>7款当红秋裤大比拼！</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=8110">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20161118/firstpage/1119kouzhaopingcenew.jpg@640w%7c0-92-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">有调评测</span> <span class="flag-desc">#成人防霾口罩</span></p>
                  <p>用20w的仪器实测口罩，<br>发现最能防霾的只有2款</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=8239">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20161121/firstpage/ertongkouzhaopingceNEW_0.jpg@640w%7c0-92-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">有调评测</span> <span class="flag-desc">#儿童防霾口罩</span></p>
                  <p>80%儿童口罩只能挡挡风，<br>真正能防霾的是这两款</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
        <li class="item" data-href="/view/app/?m=show&id=8524">
          <a href="javascript:void(0);">
            <figure>
              <img src="//c.diaox2.com/cms/diaodiao/assets/pixel.gif" data-lazy-src="//content.image.alimmdn.com/cms/sites/default/files/20161209/firstpage/1210shouyenew.jpg@640w%7c0-92-640-320a">
              <figcaption>
                <div class="title">
                  <p class="flag-container"><span class="flag">有调评测</span> <span class="flag-desc">#空气净化器</span></p>
                  <p>从700到1万8的空气净化器，<br>哪台真正适合你？</p>
                </div>
              </figcaption>
            </figure>
          </a>
        </li>
      </ul>
    </section>
  </section>
  <script src="/cms/diaodiao/assets/api201.js"></script>
  <script src="/cms/diaodiao/assets/pcollection.js"></script>
  <script>
    //cookie
    ! function (a) {
      "function" == typeof define && define.amd ? define(["jquery"], a) : "object" == typeof exports ? a(require(
        "jquery")) : a(jQuery)
    }(function (a) {
      function b(a) {
        return h.raw ? a : encodeURIComponent(a)
      }

      function c(a) {
        return h.raw ? a : decodeURIComponent(a)
      }

      function d(a) {
        return b(h.json ? JSON.stringify(a) : String(a))
      }

      function e(a) {
        0 === a.indexOf('"') && (a = a.slice(1, -1).replace(/\\"/g, '"').replace(/\\\\/g, "\\"));
        try {
          return a = decodeURIComponent(a.replace(g, " ")), h.json ? JSON.parse(a) : a
        } catch (b) {}
      }

      function f(b, c) {
        var d = h.raw ? b : e(b);
        return a.isFunction(c) ? c(d) : d
      }
      var g = /\+/g,
        h = a.cookie = function (e, g, i) {
          if (void 0 !== g && !a.isFunction(g)) {
            if (i = a.extend({}, h.defaults, i), "number" == typeof i.expires) {
              var j = i.expires,
                k = i.expires = new Date;
              k.setTime(+k + 864e5 * j)
            }
            return document.cookie = [b(e), "=", d(g), i.expires ? "; expires=" + i.expires.toUTCString() : "", i.path ?
              "; path=" + i.path : "", i.domain ? "; domain=" + i.domain : "", i.secure ? "; secure" : ""
            ].join("")
          }
          for (var l = e ? void 0 : {}, m = document.cookie ? document.cookie.split("; ") : [], n = 0, o = m.length; o >
            n; n++) {
            var p = m[n].split("="),
              q = c(p.shift()),
              r = p.join("=");
            if (e && e === q) {
              l = f(r, g);
              break
            }
            e || void 0 === (r = f(r)) || (l[q] = r)
          }
          return l
        };
      h.defaults = {}, a.removeCookie = function (b, c) {
        return void 0 === a.cookie(b) ? !1 : (a.cookie(b, "", a.extend({}, c, {
          expires: -1
        })), !a.cookie(b))
      }
    });
    var isIOS = Boolean(navigator.userAgent.match(/iphone|ipod|ios|ipad/i));

    function logAccess() {
      var uid = $.cookie("DDuid");
      if (!uid)
        uid = -1;
      var postdata = {
        "user": uid,
        "action": "Pcollection",
        "value": navigator.userAgent,
        "method": "log",
        "url": location.href,
        "self": location.href,
        "referer": document.referrer,
        "isIOS": isIOS
      };
      console.log(postdata);
      jQuery.support.cors = true;
      $.ajax({
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify(postdata),
        dataType: "json", //"html"
        url: '//api.diaox2.com/v1/contvote',
        success: function (data) {
          console.log('log成功');
          console.log(data);
        },
        timeout: 8000,
        error: function (x, t, e) {
          console.log("log失败, error: " + e);
        }
      });
      return true;
    }

    jQuery(document).ready(function () {
      logAccess();
      bind_log_click('li.item', 'data-href', 'ReadFromCollection');
    });

  </script>
</body>

</html>
